@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.logo h3{
    color: black;
    font-family: 'Russo One', sans-serif;
    position: relative;
    font-size: 50px;
    text-shadow: 0px 0px 2px white;
    margin-left:7vw;
    cursor: pointer;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: Arial;
}

.main_container{
	position: relative;
}

/* Navigation Bar */
.navbar{
	width: 100%;
	height: 65px;
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}

/*nav shtyje*/
.navbar_items ul li{
	font-size: 12px;
	margin: 0 1px;
	font-weight: bold;
}

.navbar_items ul li a{
	text-transform: uppercase;
	color: rgb(255, 255, 255);
}

.navbar_items ul{
	display: flex;
}

.logo ul a{
    color:white;
    text-decoration: none;
}
.logo ul li{
    display: inline;
    font-size: 30px;
    font-weight: bold;
}
.menuLines{
    font-size: 15px;
    color: cyan;
}

.logo ul li:first-child, 
.navbar_items ul li:nth-child(1),
.navbar_items ul li:nth-child(3),
.navbar_items ul li:nth-child(5),
.navbar_items ul li:nth-child(9)
.navbar_items ul li:nth-child(11){
    padding-right: 3px;
    padding-left: 10px;
}

.logo ul li:first-child:hover, 
.navbar_items ul li:nth-child(1):hover,
.navbar_items ul li:nth-child(3):hover,
.navbar_items ul li:nth-child(5):hover,
.navbar_items ul li:nth-child(7):hover,
.navbar_items ul li:nth-child(9):hover,
.navbar_items ul li:nth-child(11):hover{
    padding-bottom: 4px;
    border-bottom: 3px solid cyan;
}


/* banner_image */
.banner_image{
	background: url('../images/w4.jpg') no-repeat top center;
	background-size: cover;
	width: 100%;
	height: 580px;
	display: flex;
	justify-content: center;
	align-items: center;
}

p{
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 20px;
	color: #a3a3a3;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	
}

.banner_content{
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 20px;
	cursor: pointer;
	text-align: center;
}
.banner_content:hover{
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 10px white;
}




.about {
	text-align: center;
	padding: 1% 8%;
}

/* Services */
.about{
	background: #000033;
	color: rgb(247, 247, 247);
}

.diff_about {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.diff_about .about_item {
    width: 28%;
}

.diff_about .about_item img {
    width: 100%;
    margin-bottom: 25px;
	width: 100%;
}

.diff_about .about_item h3 {
    color: white;
	margin-bottom: 15px;
	
	
}

.diff_about .about_item p{
	background-color: #000066;
	border-radius: 12px;
}

/* footer */
.footer{
	width: 100%;
	text-align: center;
	background: #080808;
	padding: 20px 0;
}

.footer a{
	color: #fff;
}



@media (max-width: 720px){

	.navbar{
		height: auto;
		flex-direction: column;
	}
	.navbar_items ul li{
		font-size: 10px;
		margin: 0 1px;
		font-weight: bold;
	}
	
	.navbar_items ul li a{
		text-transform: uppercase;
		color: rgb(255, 255, 255);
	}
	
	.navbar_items ul{
		display: flex;
	}
	
	.logo ul a{
		color:white;
		text-decoration: none;
	}
	.logo ul li{
		display: inline;
		font-size: 30px;
		font-weight: bold;
	}
	.menuLines{
		font-size: 15px;
		color: cyan;
	}
	
	.logo ul li:first-child, 
	.navbar_items ul li:nth-child(1),
	.navbar_items ul li:nth-child(3),
	.navbar_items ul li:nth-child(5),
	.navbar_items ul li:nth-child(9)
	.navbar_items ul li:nth-child(11){
		padding-right: 3px;
		padding-left: 10px;
	}
	
	.logo ul li:first-child:hover, 
	.navbar_items ul li:nth-child(1):hover,
	.navbar_items ul li:nth-child(3):hover,
	.navbar_items ul li:nth-child(5):hover,
	.navbar_items ul li:nth-child(7):hover,
	.navbar_items ul li:nth-child(9):hover,
	.navbar_items ul li:nth-child(11):hover{
		padding-bottom: 2px;
		border-bottom: 2px solid cyan;
	}
	

	.logo{
		margin-bottom: 5px;
	}

	.navbar_items ul{
		flex-direction: row;
		text-align: center;
	}

	.navbar_items ul li{
		margin-bottom:5px;
	}

	.banner_content{
		margin-top: 35px;
	}

}
