*{
    margin: 0;
    padding: 0;
}
main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
main img{
    position: relative;
    width: 100vw;
    height: 100vh;
    opacity: .9;
}
#content{
    position: absolute;
    width: 30vw;
    padding: 0px 0px 40px;
    box-shadow: 0px 0px 30px black;
    border-radius: 20px;
    background-color: white;
}
#contactFormHeader{
    min-height: 50px;
    background-color: #6b6b6b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial;
    font-size: 25px;
    color: white;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 10px 0px;
}
#contactFormContainer{
    font-family: Arial;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contactFormContainer select{
    width: 313px;
    color:rgb(104, 104, 104);
}
#contactFormContainer p{
    margin-top: 25px;
    margin-bottom: 3px;
}
#submit{
    padding: 10px 20px;
    background-color: #e52600;
    border: 0;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}



@media (max-width: 1450px){
    #contactFormHeader{
        min-height: 30px;
        font-size: 20px;
        padding: 8px 0px;
    }
    #contactFormContainer p{
        margin-top: 12px;
        margin-bottom: 3px;
    }
    #content{
        width: 35vw;
        padding: 0px 0px 25px;
    }
}