@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root{
  --main-color: #0f723b;
  --color-dark: #1D2231;
  --text-grey: #8390a2;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.logo h3{
    color: black;
    font-family: 'Russo One', sans-serif;
    position: relative;
    font-size: 40px;
    text-shadow: 0px 0px 2px white;
    margin-left:1vw;
    cursor: pointer;
}

.logo ul a{
    color:white;
    text-decoration: none;
}
.logo ul li{
    display: inline;
    font-size: 20px;
    font-weight: bold;
}

.sidebar{
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 100;
}

.sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 1rem;
    color: #fff;
}

.sidebar-brand span{
    display: inline-block;
    padding-right: 1rem;
}

.sidebar-menu{
    margin-top: 1rem;
}

.sidebar-menu li{
    width: 100%;
    margin-bottom: 1.3rem;
    padding-left: 2rem;
}

.sidebar-menu a{
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;
}

.sidebar-menu a.active{
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
}


.sidebar-menu a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
}

.main-content{
    margin-left: 345px;
}

.tablet{
    position: relative;
    left: 1120px;
}


main{
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
} 

.card-single{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
}

.card-single div:last-child span {
    font-size: 3rem;
    color: var(--main-color);
}

.card-single div:first-child span{
    color: var(--text-grey);
}

.card-single:last-child{
    background: var(--main-color);
}

.card-single:last-child h1,
.card-single:last-child div:first-child span
.card-single:last-child div:last-child span {
    color: #fff;
}

.recent-grid{
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 67% auto;
}

.card{
    background: #fff;
    border-radius: 5px;
}

.card-header,
.card-body{
    padding: 1rem;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.card-header button{
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid var(--main-color);
}

table{
    border-collapse: collapse;
}

thread tr{
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
}

thread td{
    font-weight: 700;
}

td {
    padding: .5rem 1rem;
    font-size: .9rem;
    color: #222;
}

td .status{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 1rem;
}

tr td:last-child{
    display: flex;
    align-items: center;
}

.status.purple{
    background:purple;
}

.status.pink{
    background: deeppink;
}

.status.orange{
    background: orangered;
}

.table-responsive{
    width: 100%;
    overflow-x: auto;
}

.customer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
}

.info{
    display: flex;
    align-items: center;
}

.info img{
    border-radius: 50%;
    margin-right: 1rem;
}

.info h4{
    font-size: .8rem;
    font-weight: 600;
    color: #222;
}

.info small{
    font-weight: 600;
    color: var(--text-grey);
}

.contact small{
    font-size: 1.2rem;
}

.contact span{
    font-size: 1.2rem;
    display: inline-block;
    margin-left: .5rem;
    color: var(--main-color);
}

@media only screen and (max-width: 560px){
    .cards{
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 960px){
    .cards{
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 360px){
    .cards{
        grid-template-columns: 100%;
    }
}