@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
*{
    margin: 0;
}
a{
    text-decoration: none;
}
#transfers_box a, footer a, #slideshow_header{
    color: white;
}


/*HEADER*/

header{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#topHeader{
    display: flex;
    flex-direction: column;
    height: 15vh;
}
#topHeaderContent{
    height: 14vh;
    background-color: black;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#topHeaderFilter{
    background-image: linear-gradient(to right, red, blue , blue , blue , blue ,red);
    opacity: .1;
    position: absolute;
    width: 100%;
    height: 15vh;
}
#topHeaderContent h3{
    color: black;
    font-family: 'Russo One', sans-serif;
    position: relative;
    font-size: 65px;
    text-shadow: 0px 0px 12px white;
    margin-left:8vw;
    cursor: pointer;
}
#topHeaderContent ul{
    margin-right: 8vw;
    list-style-type: none;
    color: black;
    font-family: Arial;
    position: relative;
}
#topHeaderContent ul a{
    color:white;
    text-decoration: none;
}
#topHeaderContent ul li{
    display: inline;
    font-size: 20px;
    font-weight: bold;
}
.menuLines{
    font-size: 25px;
    color: cyan;
}
#topHeaderContent ul li:first-child, 
    #topHeaderContent ul li:nth-child(3),
    #topHeaderContent ul li:nth-child(5),
    #topHeaderContent ul li:nth-child(7),
    #topHeaderContent ul li:nth-child(9),
    #topHeaderContent ul li:nth-child(11),
    #topHeaderContent ul li:nth-child(13){
    padding-right: 10px;
    padding-left: 10px;
}
#topHeaderContent ul li:first-child:hover, 
    #topHeaderContent ul li:nth-child(3):hover,
    #topHeaderContent ul li:nth-child(5):hover,
    #topHeaderContent ul li:nth-child(7):hover,
    #topHeaderContent ul li:nth-child(9):hover,
    #topHeaderContent ul li:nth-child(11):hover,
    #topHeaderContent ul li:nth-child(13):hover{
    padding-bottom: 30px;
    border-bottom: 3px solid cyan;
}
#headerColorfulLine{
    height:10px;
    background-color: black;
    border-top:2px solid white;
    border-bottom:2px solid white;
}
li.active{
    padding-bottom: 30px;
    border-bottom: 3px solid cyan;
}

#middleHeader{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    width: 100%;
    height: inherit;
}
#headerImageFilter{
    background-image: linear-gradient(to right, red, blue , blue , blue , blue ,red);
    opacity: .1;
    position: absolute;
    width: 100%;
    height: inherit;
}



#headerImageText{
    position: absolute;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    cursor: pointer;
}
#headerImageText:hover{
    color: black;
    text-shadow: 0px 0px 10px white;
}





/*MAIN*/

main{
    padding: 40px 7vw 100px 7vw;
    background-color: #181733;
}
#news_box{
    display: flex;
    flex-direction: column;
}
#news_box a, #news_box{
    color: white;
}
.main_box_header, #slideshow_header{
    display: flex;
    flex-direction: column;
    height: 100px;
    padding-bottom:40px;
}
.main_box_header_news{ /*part of News.php*/
    display: flex;
    flex-direction: row;
    height: 110px;
    width: 90%;
    margin-left: 5%;
    padding-bottom:160px;
    padding-top:90px;
}
.header_middle_content_news{ /*part of News.php*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
}
.header_side_line_news:first-child{ /*part of News.php*/
    height: 70px;
    width: 2%;
    margin-top:20px;
    background-color: white;
    transform: skew(35deg);
}
.header_side_line_news:last-child{ /*part of News.php*/
    height: 70px;
    width: 2%;
    margin-top:20px;
    background-color: white;
    transform: skew(-35deg);
}
.main_box_header_heading, .slideshow_header_text{
    height: 90px;
    display: flex;
    align-items: center;
    font-size: 45px;
    font-family: Arial;
}
.main_box_header_heading_news{ /*part of News.php*/
    height: 107px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    font-family: Arial;
}
.main_box_header_line, .slideshow_header_line{
    height: 2px;
    background-color: white;
}
.main_box_header_news_line{ /*part of News.php*/
    height: 3px;
    background-color: white;
    width: 90%;
    border-radius: 60px;
}
.main_box_content{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.news_box_content_news, .news_box_content_news_a{
    width: 26vw;
    font-family: Arial;
    padding-bottom: 80px;
}
.news_box_content_news p, .news_box_content_news_a p{
    color: rgb(124, 124, 124);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news_box_content_news img, .news_box_content_news_a img{
    width: inherit;
    height: 300px;
}
.box_text_heading{
    padding-top: 35px;
    padding-bottom: 20px;
    font-size: 20px;
}


#transfers_box{
    display: flex;
    flex-direction: column;
}
.news_box_content_news2{
    width: 39vw;
    height: 600px;
    font-family: Arial;
}
.news_box_content_news2 p{
    color: rgb(124, 124, 124);
}
.news_box_content_news2 img{
    width: inherit;
    height: 450px;
}
.box_text_heading2{
    padding-top: 35px;
    padding-bottom: 20px;
    font-size: 27px;
}

/*Contact-Box*/
#contactBox{
    height: 30vh;
    width: 100%;
    background-color:#222142;
    margin-top: 255px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#contactBox h3{
    font-size: 60px;
    color: white;
    font-family: Arial;
}
#contactBox :last-child{
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
    background-color: seagreen;
    border-radius: 20px;
    color: black;
    height: 35%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}





/*SLIDESHOW*/
#slideshow{
    padding-top: 100px;
}
#slideshow_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.slideshow_images img{
    width: 25vw;
    height: 37vh;
}
.left, .right{
    height: 50px;
    font-weight: bold;
    font-size: 30px;
}

/*FOOTER*/

footer{
	width: 100%;
	text-align: center;
	background:  #09091b;
	padding: 20px 0;
}

footer a{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

@media(max-width: 720px){
    #headerImageFilter{
        width: 100%;
        float:none;
    }
}



















/* @media */
@media (max-width:1750px){
    #topHeaderContent h3{
        font-size: 53px;
    }
    #topHeaderContent ul li{
        font-size: 22px;
    }
    #topHeaderContent ul li:first-child, 
    #topHeaderContent ul li:nth-child(3),
    #topHeaderContent ul li:nth-child(5),
    #topHeaderContent ul li:nth-child(7),
    #topHeaderContent ul li:nth-child(9),
    #topHeaderContent ul li:nth-child(11),
    #topHeaderContent ul li:nth-child(13){
    padding-right: 13px;
    padding-left: 13px;
    }
    #topHeaderContent ul li:first-child:hover, 
    #topHeaderContent ul li:nth-child(3):hover,
    #topHeaderContent ul li:nth-child(5):hover,
    #topHeaderContent ul li:nth-child(7):hover,
    #topHeaderContent ul li:nth-child(9):hover,
    #topHeaderContent ul li:nth-child(11):hover,
    #topHeaderContent ul li:nth-child(13):hover{
    padding-bottom: 20px;
    border-bottom: 2px solid cyan;
    }
    li.active{
        padding-bottom: 20px;
    }
    #headerImageText{
        font-size: 25px;
    }
}

@media (max-width:1655px){
    #topHeaderContent h3{
        font-size: 50px;
    }
    #topHeaderContent ul li:first-child, 
    #topHeaderContent ul li:nth-child(3),
    #topHeaderContent ul li:nth-child(5),
    #topHeaderContent ul li:nth-child(7),
    #topHeaderContent ul li:nth-child(9),
    #topHeaderContent ul li:nth-child(11),
    #topHeaderContent ul li:nth-child(13){
    padding-right: 12px;
    padding-left: 12px;
    }
}
@media (max-width:1600px){
    #topHeaderContent h3{
        font-size: 48px;
    }
    #topHeaderContent ul li{
        font-size: 20px;
    }
    li.active{
        padding-bottom: 20px;
        border-bottom: 2px solid cyan;
    }
    #headerImageText{
        font-size: 25px;
    }
}
@media (max-width:1530px){
    #topHeaderContent ul li{
        font-size: 18px;
    }
    #topHeaderContent ul li:first-child, 
    #topHeaderContent ul li:nth-child(3),
    #topHeaderContent ul li:nth-child(5),
    #topHeaderContent ul li:nth-child(7),
    #topHeaderContent ul li:nth-child(9),
    #topHeaderContent ul li:nth-child(11),
    #topHeaderContent ul li:nth-child(13){
    padding-right: 10px;
    padding-left: 10px;
    }
}
@media (max-width:1450px){
    #topHeaderContent h3{
        font-size: 45px;
    }
    #topHeaderContent ul li{
        font-size: 18px;
    }
    #topHeaderContent ul li:first-child:hover, 
    #topHeaderContent ul li:nth-child(3):hover,
    #topHeaderContent ul li:nth-child(5):hover,
    #topHeaderContent ul li:nth-child(7):hover,
    #topHeaderContent ul li:nth-child(9):hover,
    #topHeaderContent ul li:nth-child(11):hover,
    #topHeaderContent ul li:nth-child(13):hover{
    padding-bottom: 15px;
    }
    li.active{
        padding-bottom: 15px;
    }
    #headerImageText{
        font-size: 20px;
    }
    #contactBox h3{
        font-size: 45px;
    }
    #contactBox :last-child{
        font-size: 30px;
    }
    .box_text_heading2{
        padding-top: 25px;
        padding-bottom: 17px;
        font-size: 24px;
    }
    .news_box_content_news2 img{
        height: 350px;
    }
    .news_box_content_news img, .news_box_content_news_a img{
        height: 250px;
    }
    .box_text_heading{
        padding-top: 25px;
        padding-bottom: 17px;
        font-size: 18px;
    }
    .news_box_content_news p, .news_box_content_news_a p, .news_box_content_news2 p{
        font-size: 15px;
    }
    #contactBox {
        margin-top: 60px;
    }
}
@media (max-width:1380px){
    #topHeaderContent h3{
        font-size: 42px;
    }
    #topHeaderContent ul li{
        font-size: 16px;
    }
    .main_box_header_news{ /*part of News.php*/
        height: 90px;
        width: 80%;
        margin-left: 10%;
        padding-bottom:140px;
        padding-top:80px;
    }
    .header_side_line_news:first-child{ /*part of News.php*/
        height: 50px;
        margin-top: 30px;
    }
    .header_side_line_news:last-child{ /*part of News.php*/
        height: 50px;
        margin-top: 30px;
    }
    .main_box_header_heading_news{ /*part of News.php*/
        height: 87px;
        font-size: 45px;
    }
    .main_box_header_news_line{ /*part of News.php*/
        height: 3px;
        width: 90%;
    }
}
@media (max-width:1280px){
    #topHeaderContent h3{
        font-size: 40px;
    }
    #topHeaderContent ul li{
        font-size: 15px;
    }
    #topHeaderContent ul li:first-child, 
    #topHeaderContent ul li:nth-child(3),
    #topHeaderContent ul li:nth-child(5),
    #topHeaderContent ul li:nth-child(7),
    #topHeaderContent ul li:nth-child(9),
    #topHeaderContent ul li:nth-child(11),
    #topHeaderContent ul li:nth-child(13){
    padding-right: 6px;
    padding-left: 6px;
    }
    #topHeaderContent ul li:first-child:hover, 
    #topHeaderContent ul li:nth-child(3):hover,
    #topHeaderContent ul li:nth-child(5):hover,
    #topHeaderContent ul li:nth-child(7):hover,
    #topHeaderContent ul li:nth-child(9):hover,
    #topHeaderContent ul li:nth-child(11):hover,
    #topHeaderContent ul li:nth-child(13):hover{
    padding-bottom: 10px;
    border-bottom: 2px solid cyan;
    }
    li.active{
        padding-bottom: 10px;
    }
    #headerImageText{
        font-size: 16px;
    }
    #contactBox h3{
        font-size: 43px;
    }
    #contactBox :last-child{
        font-size: 27px;
    }
    .box_text_heading2{
        padding-top: 20px;
        padding-bottom: 15px;
        font-size: 23px;
    }
    .news_box_content_news2 img{
        height: 330px;
    }
    .news_box_content_news img, .news_box_content_news_a img{
        height: 230px;
    }
    .box_text_heading{
        padding-top: 20px;
        padding-bottom: 15px;
    }
    .news_box_content_news p, .news_box_content_news_a p, .news_box_content_news2 p{
        font-size: 14px;
    }
    #contactBox {
        margin-top: 20px;
    }
}
@media (max-width:1150px){
    #topHeaderContent h3{
        font-size: 35px;
    }
    #topHeaderContent ul li{
        font-size: 13px;
    }
    #topHeaderContent ul li:first-child, 
    #topHeaderContent ul li:nth-child(3),
    #topHeaderContent ul li:nth-child(5),
    #topHeaderContent ul li:nth-child(7),
    #topHeaderContent ul li:nth-child(9),
    #topHeaderContent ul li:nth-child(11),
    #topHeaderContent ul li:nth-child(13){
    padding-right: 6px;
    padding-left: 6px;
    }
    #topHeaderContent ul li:first-child:hover, 
    #topHeaderContent ul li:nth-child(3):hover,
    #topHeaderContent ul li:nth-child(5):hover,
    #topHeaderContent ul li:nth-child(7):hover,
    #topHeaderContent ul li:nth-child(9):hover,
    #topHeaderContent ul li:nth-child(11):hover,
    #topHeaderContent ul li:nth-child(13):hover{
    padding-bottom: 6px;
    }
    li.active{
        padding-bottom: 6px;
        border-bottom: 2px solid cyan;
    }
    #contactBox h3{
        font-size: 40px;
    }
    #contactBox :last-child{
        font-size: 27px;
    }
    .box_text_heading2{
        padding-top: 20px;
        padding-bottom: 15px;
        font-size: 21px;
    }
    .news_box_content_news2 img{
        height: 290px;
    }
    .news_box_content_news img, .news_box_content_news_a img{
        height: 210px;
    }
    .box_text_heading{
        padding-top: 18px;
        padding-bottom: 14px;
        font-size: 16px;
    }
    .news_box_content_news p, .news_box_content_news_a p, .news_box_content_news2 p{
        font-size: 13px;
    }
    #contactBox {
        margin-top: 10px;
    }
}
@media (max-width:1060px){
    #topHeaderContent h3{
        font-size: 32px;
    }
    #topHeaderContent ul li{
        font-size: 13px;
    }
    #topHeaderContent ul li:first-child, 
    #topHeaderContent ul li:nth-child(3),
    #topHeaderContent ul li:nth-child(5),
    #topHeaderContent ul li:nth-child(7),
    #topHeaderContent ul li:nth-child(9),
    #topHeaderContent ul li:nth-child(11),
    #topHeaderContent ul li:nth-child(13){
    padding-right: 4px;
    padding-left: 4px;
    }
    .main_box_header_news{ /*part of News.php*/
        height: 80px;
        width: 80%;
        margin-left: 10%;
        padding-bottom:140px;
        padding-top:70px;
    }
    .header_side_line_news:first-child{ /*part of News.php*/
        height: 40px;
        margin-top: 30px;
        width: 2%;
        transform: skew(35deg);
    }
    .header_side_line_news:last-child{ /*part of News.php*/
        height: 40px;
        margin-top: 30px;
        width: 2%;
        transform: skew(-35deg);
    }
    .main_box_header_heading_news{ /*part of News.php*/
        height: 77px;
        font-size: 35px;
    }
}
@media (max-width:1010px){
    #topHeaderContent h3{
        font-size: 30px;
    }
    #topHeaderContent ul li{
        font-size: 12px;
    }
}
@media (max-width:960px){
    .main_box_header_news{ /*part of News.php*/
        height: 70px;
        padding-bottom:110px;
        padding-top:40px;
    }
    .header_side_line_news:first-child{ /*part of News.php*/
        height: 30px;
        margin-top: 40px;
    }
    .header_side_line_news:last-child{ /*part of News.php*/
        height: 30px;
        margin-top: 40px;
    }
    .main_box_header_heading_news{ /*part of News.php*/
        height: 67px;
        font-size: 28px;
    }
    #topHeaderContent h3{
        font-size: 28px;
    }
    #topHeaderContent ul li:first-child, 
    #topHeaderContent ul li:nth-child(3),
    #topHeaderContent ul li:nth-child(5),
    #topHeaderContent ul li:nth-child(7),
    #topHeaderContent ul li:nth-child(9),
    #topHeaderContent ul li:nth-child(11),
    #topHeaderContent ul li:nth-child(13){
    padding-right: 3px;
    padding-left: 3px;
    }
    #contactBox :last-child{
        font-size: 25px;
    }
    .news_box_content_news2 img{
        height: 260px;
    }
    .news_box_content_news img, .news_box_content_news_a img{
        height: 180px;
    }
    .box_text_heading{
        padding-top: 16px;
        padding-bottom: 12px;
        font-size: 16px;
    }
    .news_box_content_news p, .news_box_content_news_a p, .news_box_content_news2 p{
        font-size: 12px;
    }
    #contactBox {
        margin-top: 0px;
    }
    .main_box_header_heading, .slideshow_header_text{
        font-size: 40px;
    }
    .slideshow_images img{
        width: 23vw;
        height: 30vh;
    }
    .left, .right{
        height: 30px;
        font-size: 20px;
    }
}
@media (max-width:910px){
    #topHeaderContent h3{
        font-size: 26px;
    }
    #topHeaderContent ul li{
        font-size: 12px;
    }
    #topHeaderContent ul li:first-child, 
    #topHeaderContent ul li:nth-child(3),
    #topHeaderContent ul li:nth-child(5),
    #topHeaderContent ul li:nth-child(7),
    #topHeaderContent ul li:nth-child(9),
    #topHeaderContent ul li:nth-child(11),
    #topHeaderContent ul li:nth-child(13){
    padding-right: 2px;
    padding-left: 2px;
    }
    #topHeaderContent ul li:first-child:hover, 
    #topHeaderContent ul li:nth-child(3):hover,
    #topHeaderContent ul li:nth-child(5):hover,
    #topHeaderContent ul li:nth-child(7):hover,
    #topHeaderContent ul li:nth-child(9):hover,
    #topHeaderContent ul li:nth-child(11):hover,
    #topHeaderContent ul li:nth-child(13):hover{
    padding-bottom: 4px;
    }
    li.active{
        padding-bottom: 4px;
        border-bottom: 2px solid cyan;
    }
    #headerImageText{
        font-size: 14px;
    }
    #contactBox h3{
        font-size: 35px;
    }
    .box_text_heading2{
        padding-top: 15px;
        padding-bottom: 10px;
        font-size: 17px;
    }
    .news_box_content_news2 img{
        height: 230px;
    }
    .news_box_content_news img, .news_box_content_news_a img{
        height: 160px;
    }
    .box_text_heading{
        padding-top: 12px;
        padding-bottom: 10px;
        font-size: 15px;
    }
    .news_box_content_news p, .news_box_content_news_a p, .news_box_content_news2 p{
        font-size: 11px;
    }
    .news_box_content_news2{
        height: 450px;
    }
}
@media (max-width:860px){
    #topHeaderContent h3{
        font-size: 22px;
    }
    #topHeaderContent ul li{
        font-size: 11px;
    }
    #topHeaderContent ul li:first-child, 
    #topHeaderContent ul li:nth-child(3),
    #topHeaderContent ul li:nth-child(5),
    #topHeaderContent ul li:nth-child(7),
    #topHeaderContent ul li:nth-child(9),
    #topHeaderContent ul li:nth-child(11),
    #topHeaderContent ul li:nth-child(13){
    padding-right: 2px;
    padding-left: 2px;
    }
    #topHeaderContent ul li:first-child:hover, 
    #topHeaderContent ul li:nth-child(3):hover,
    #topHeaderContent ul li:nth-child(5):hover,
    #topHeaderContent ul li:nth-child(7):hover,
    #topHeaderContent ul li:nth-child(9):hover,
    #topHeaderContent ul li:nth-child(11):hover,
    #topHeaderContent ul li:nth-child(13):hover{
    padding-bottom: 2px;
    border-bottom: 1px solid cyan;
    }
    li.active{
        padding-bottom: 2px;
        border-bottom: 1px solid cyan;
    }
    #headerImageText{
        font-size: 12px;
    }
    #contactBox h3{
        font-size: 28px;
    }
    #contactBox :last-child{
        font-size: 20px;
    }
    .main_box_header_heading, .slideshow_header_text{
        font-size: 30px;
    }
}
@media (max-width:800px){
    .main_box_header_news{ /*part of News.php*/
        height: 60px;
        width: 70%;
        margin-left: 15%;
        padding-bottom:70px;
        padding-top:10px;
    }
    .header_side_line_news:first-child{ /*part of News.php*/
        height: 20px;
        margin-top: 30px;
        width: 1%;
    }
    .header_side_line_news:last-child{ /*part of News.php*/
        height: 20px;
        margin-top: 30px;
        width: 1%;
    }
    .main_box_header_heading_news{ /*part of News.php*/
        height: 58px;
        font-size: 18px;
    }
    .main_box_header_news_line{ /*part of News.php*/
        height: 2px;
        width: 90%;
    }
    #topHeaderContent h3{
        font-size: 18px;
    }
    #topHeaderContent ul li{
        font-size: 10px;
    }
    #topHeaderContent ul li:first-child, 
    #topHeaderContent ul li:nth-child(3),
    #topHeaderContent ul li:nth-child(5),
    #topHeaderContent ul li:nth-child(7),
    #topHeaderContent ul li:nth-child(9),
    #topHeaderContent ul li:nth-child(11),
    #topHeaderContent ul li:nth-child(13){
    padding-right: 2px;
    padding-left: 2px;
    }
    #headerImageText{
        font-size: 12px;
    }
    .slideshow_images img{
        width: 20vw;
        height: 23vh;
    }
    .left, .right{
        height: 20px;
        font-size: 15px;
    }
    .box_text_heading2{
        padding-top: 10px;
        padding-bottom: 6px;
        font-size: 14px;
    }
    .news_box_content_news2 img{
        height: 190px;
    }
    .news_box_content_news img, .news_box_content_news_a img{
        height: 120px;
    }
    .box_text_heading{
        padding-top: 7px;
        padding-bottom: 6px;
        font-size: 11px;
    }
    .news_box_content_news p, .news_box_content_news_a p, .news_box_content_news2 p{
        font-size: 8px;
    }
    .news_box_content_news, .news_box_content_news_a {
        width: 23vw;
        padding-bottom: 60px;
    }
    .news_box_content_news2 {
        width: 35vw;
        height: 400px;
    }
}
@media (max-width:720px){
    #topHeaderContent h3{
        font-size: 15px;
    }
    #topHeaderContent ul li{
        font-size: 8px;
    }
    #topHeaderContent ul li:first-child, 
    #topHeaderContent ul li:nth-child(3),
    #topHeaderContent ul li:nth-child(5),
    #topHeaderContent ul li:nth-child(7),
    #topHeaderContent ul li:nth-child(9),
    #topHeaderContent ul li:nth-child(11),
    #topHeaderContent ul li:nth-child(13){
    padding-right: 1px;
    padding-left: 1px;
    }
    #headerImageText{
        font-size: 8px;
    }
    .box_text_heading2{
        padding-top: 8px;
        padding-bottom: 4px;
        font-size: 12px;
    }
    .news_box_content_news2 img{
        height: 160px;
    }
    .news_box_content_news img, .news_box_content_news_a img{
        height: 100px;
    }
    .box_text_heading{
        padding-top: 6px;
        padding-bottom: 4px;
        font-size: 10px;
    }
    .news_box_content_news p, .news_box_content_news_a p, .news_box_content_news2 p{
        font-size: 7px;
    }
    .news_box_content_news, .news_box_content_news_a {
        width: 21vw;
        padding-bottom: 50px;
    }
    .news_box_content_news2 {
        width: 33vw;
        height: 350px;
    }
}
@media (max-width:600px) and (max-height:982px){
    #topHeaderContent h3{
        font-size: 10px;
    }
    #topHeaderContent ul li{
        font-size: 6px;
    }
    #topHeaderFilter {
        width: 100%;
        height: 8vh;
    }
    #topHeader {
        display: flex;
        flex-direction: column;
        height: 8vh;
    }
    #headerColorfulLine {
        height: 2px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    header {
        display: flex;
        flex-direction: column;
        height: 66vh;
    }
    #middleHeader {
        height: 58vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #index_single_news_img{
        width: 150px;
    }
    #index_single_news_title{
        font-size: 12px;
    }
    #index_single_news_body{
        font-size: 10px;
    }
}    


/*  @media per telefon  */
@media (max-width:420px) and (max-height:882px){
    .main_box_header_news{ /*part of News.php*/
        height: 30px;
        width: 60%;
        margin-left: 20%;
        padding-bottom: 30px;
        padding-top: 0px;
    }
    .header_middle_content_news{ /*part of News.php*/
        width: 98%;
    }
    .header_side_line_news:first-child{ /*part of News.php*/
        height: 10px;
        margin-top: 15px;
        width: 1%;
        transform: skew(35deg);
    }
    .header_side_line_news:last-child{ /*part of News.php*/
        height: 10px;
        margin-top: 15px;
        width: 1%;
        transform: skew(-35deg);
    }
    .main_box_header_heading_news{ /*part of News.php*/
        height: 29px;
        font-size: 8px;
    }
    .main_box_header_news_line{ /*part of News.php*/
        height: 1px;
        width: 90%;
    }
    #topHeaderContent h3{
        font-size: 8px;
    }
    #topHeaderContent ul li{
        font-size: 4px;
    }
    #topHeaderContent ul li:first-child, 
    #topHeaderContent ul li:nth-child(3),
    #topHeaderContent ul li:nth-child(5),
    #topHeaderContent ul li:nth-child(7),
    #topHeaderContent ul li:nth-child(9),
    #topHeaderContent ul li:nth-child(11),
    #topHeaderContent ul li:nth-child(13){
    padding-right: 1px;
    padding-left: 1px;
    }
    #topHeaderContent ul li:first-child:hover, 
    #topHeaderContent ul li:nth-child(3):hover,
    #topHeaderContent ul li:nth-child(5):hover,
    #topHeaderContent ul li:nth-child(7):hover,
    #topHeaderContent ul li:nth-child(9):hover,
    #topHeaderContent ul li:nth-child(11):hover,
    #topHeaderContent ul li:nth-child(13):hover{
    padding-bottom: 1px;
    border-bottom: 1px solid cyan;
    }
    li.active{
        padding-bottom: 1px;
        border-bottom: 1px solid cyan;
    }
    #topHeader {
        display: flex;
        flex-direction: column;
        height: 6vh;
    }
    #topHeaderFilter {
        width: 100%;
        height: 6vh;
    }
    #headerColorfulLine {
        height: 2px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    header {
        display: flex;
        flex-direction: column;
        height: 36vh;
    }
    #middleHeader {
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header img {
        width: 100%;
        height: inherit;
    }
    #headerImageText{
        font-size: 4px;
    }
    main {
        padding: 10px 7vw 10px 7vw;
    }
    .box_text_heading{
        padding-top: 3px;
        padding-bottom: 2px;
        font-size: 4px;
    }
    .box_text_heading2{
        padding-top: 3px;
        padding-bottom: 2px;
        font-size: 5px;
    }
    .news_box_content_news img, .news_box_content_news_a img{
        height: 60px;
    }
    .news_box_content_news2 img{
        height: 80px;
    }
    .news_box_content_news p, .news_box_content_news_a p, .news_box_content_news2 p{
        font-size: 2px;
    }
    .news_box_content_news, .news_box_content_news_a {
        width: 22vw;
        padding-bottom: 20px;
    }
    .news_box_content_news2 {
        width: 33vw;
        height: 180px;
    }
    #contactBox{
        height: 10vh;
    }
    #contactBox h3{
        font-size: 10px;
    }
    #contactBox :last-child{
        font-size: 6px;
    }
    .main_box_header_heading, .slideshow_header_text{
        font-size: 10px;
    }
    .main_box_header, #slideshow_header {
        display: flex;
        flex-direction: column;
        height: 60px;
        padding-bottom: 10px;
    }
    #slideshow {
        padding-top: 40px;
    }
    .slideshow_images img{
        width: 18vw;
        height: 10vh;
    }
    .left, .right{
        height: 10px;
        font-size: 6px;
        width: 10px;
    }
    footer a {
        font-size: 6px;
    }
    footer{
        padding: 10px 0;
    }
}