@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.logo h3{
    color: black;
    font-family: 'Russo One', sans-serif;
    position: relative;
    font-size: 50px;
    text-shadow: 0px 0px 2px white;
    margin-left:7vw;
    cursor: pointer;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: Arial;
}



/* Navigation Bar */
.navbar{
	width: 100%;
	height: 65px;
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}

/*nav shtyje*/
.navbar_items ul li{
	font-size: 12px;
	margin: 0 12px;
}

.navbar_items ul li a{
	text-transform: uppercase;
	color: rgb(255, 255, 255);
}

.navbar_items ul{
	display: flex;
}

.logo ul a{
    color:white;
    text-decoration: none;
}
.logo ul li{
    display: inline;
    font-size: 20px;
    font-weight: bold;
}
.menuLines{
    font-size: 25px;
    color: cyan;
}

.logo ul li:first-child, 
.navbar_items ul li:nth-child(1),
.navbar_items ul li:nth-child(3),
.navbar_items ul li:nth-child(5),
.navbar_items ul li:nth-child(9),
.navbar_items ul li:nth-child(11){
    padding-right: 3px;
    padding-left: 10px;
}

.logo ul li:first-child:hover, 
.navbar_items ul li:nth-child(1):hover,
.navbar_items ul li:nth-child(3):hover,
.navbar_items ul li:nth-child(5):hover,
.navbar_items ul li:nth-child(7):hover,
.navbar_items ul li:nth-child(9):hover,
.navbar_items ul li:nth-child(11):hover{
    padding-bottom: 4px;
    border-bottom: 3px solid cyan;
}


video{
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
}

#content{
	position: absolute;
    width: 280px;
    box-shadow: 0px 0px 10px black;
    border-radius: 30px;
    margin-left: 550px;
    margin-top:90px;
    transform: (-50%, -50%);
    background: transparent;
    background: rgba(255, 255, 255, 0.418);
}



#LoginForm{
    min-height: 0px;
    background: transparent;
    margin-bottom: 15px;
    font-family: Arial;
    color: rgb(0, 0, 0);
    padding: 20px 20px;
    font-size: 20px;
    margin-left:20px;
}

.upassword{
    padding-bottom: 5px;
    
}

.upassword p a{
    font-size: 12px;
    color: black;
    font-weight: 700;
    
}

.signup{
    padding-bottom:5px;
}

.signup a{
    font-size: 12px;
    color: black;
    font-weight: 700;
    
}

input{
    width: 200px;
    margin-top: 10px;
    background: transparent;
    padding: 10px;
    font-size: 12px;
    border-radius: 30px;
    box-shadow: 0 0 4px #fff;
    transition: box-shadow 0.5s ease;
}


#container p{
    margin-top: 6px;
    margin-bottom: 0px;
}

#container h1{
    margin-bottom: 18px;
    padding-bottom: 25px;
    font-size: 40px;
}



#submit{
    padding: 10px 18px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 35px;
    margin-left: 50px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.418);
    box-shadow: 0 0 4px #fff;;
}









@media (max-width: 720px){

	.navbar{
		height: auto;
		flex-direction: column;
	}

	.logo{
		margin-bottom: 25px;
	}

	.navbar_items ul{
		flex-direction: column;
		text-align: center;
	}

	.navbar_items ul li{
		margin-bottom:5px;
	}

	.banner_content{
		margin-top: 35px;
	}

}