*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1.title{
	margin-bottom: 20px;
	color: #ffffff;
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
	font-size: 38px;
	word-spacing: 15px;
	letter-spacing: 2px;
}

h2{
	margin-bottom: 20px;
	color: #878bbd;
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
	font-size: 38px;
	word-spacing: 15px;
	letter-spacing: 2px;
}

p{
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 20px;
	color: #95969e;
}

.btn a {
    width: 180px;
    height: 35px;
    line-height: 35px;
    border: 2px solid #000000;
    color: #000000;
    display: block;
    margin: 25px auto 0;
    text-align: center;
}

.main_container{
	position: relative;
}

/* Navigation Bar */
.navbar{
	width: 100%;
	height: 65px;
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.logo a{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 30px;
	color: #ffffff;
}

.navbar_items ul{
	display: flex;
}

.navbar_items ul li{
	margin: 0 10px;
}

.navbar_items ul li a{
	text-transform: uppercase;
	color: #fff;
}

/* banner_image */
.banner_image{
	background: url('img/11.jpg') no-repeat top center;
	background-size: cover;
	width: 100%;
	height: 750px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.banner_content{
	text-align: center;
	color: rgb(0, 255, 255);
}

.banner_content h1{
	text-transform: uppercase;
	line-height: 27px;
	margin-bottom: 5px;
	font-family: Georgia, 'Times New Roman', Times, serif;

}

.banner_content h1 span{
	color: #ececec;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 28px;
}


/* About */
.about,
.news,
.contact,
.ourteam{
	text-align: center;
	padding: 2% 10%;
}

/* News */
.news{
	background: rgb(36, 48, 71);
}

.diff_news {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.diff_news .diff_news_item {
    width: 30%;
}

.diff_news .diff_news_item img {
    width: 100%;
    margin-bottom: 25px;
}

.diff_news .diff_news_item h3 {
    color: #ffffff;
    margin-bottom: 15px;
}


.diff_news2 {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.diff_news2 .diff_news_item2 {
    width: 30%;
}

.diff_news2 .diff_news_item2 img {
    width: 100%;
    margin-bottom: 25px;
}

.diff_news2 .diff_news_item2 h3 {
    color: #ffffff;
    margin-bottom: 15px;
}

/* Contact us */
.contact{
	background: rgb(185, 185, 185);
}
.form_wrapper .form_input{
	margin-bottom: 15px;
}

.form_wrapper .form_input input[type="text"]{
	width: 250px;
	padding: 12px 10px; 
	border: 1px solid #ccc;
}

.form_wrapper .form_input textarea{
	width: 250px;
	padding: 12px 20px; 
	height: 80px;
	resize: none;
	border: 1px solid  #ccc;
}
/* our team */
.ourteam{
	background: rgb(255, 255, 255);
}

.ourteam_wrapper{
	display: flex;
	flex-direction: column;
}

.ourteam_wrapper .team{
	display: flex;
	justify-content: space-between;
}

.ourteam_wrapper .team-1.team{
	margin-bottom: 25px;
}

.ourteam_wrapper .team_members{
	width: 30%;
	height: auto;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

.ourteam_wrapper .team_members img{
	display: block;
	width: 100%;
	height: auto;
	transition: all 0.5s ease;
}

.ourteam_wrapper .team_members:hover img{
	transform: scale(1.1);
}

/* footer */
.footer{
	width: 100%;
	text-align: center;
	background: #030027;
	padding: 20px 0;
}

.footer a{
	color: #fff;
}



@media (max-width: 720px){

	.navbar{
		height: auto;
		flex-direction: column;
	}

	.logo{
		margin-bottom: 25px;
	}

	.navbar_items ul{
		flex-direction: column;
		text-align: center;
	}

	.navbar_items ul li{
		margin-bottom:5px;
	}

	.banner_content{
		margin-top: 35px;
	}

}