body{
	padding: 0;
	margin: 0;
}
header {
	background-color: rgb(41, 40, 40);
	overflow: hidden;
	display: flex;
	position: fixed;
	width: 100%;
	top: 0;
	
  }
  

  header a {
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 12px 14px;
	text-decoration: none;
	font-size: 17px;
	flex-grow: 2;
	font-size: 20px;
	
  }
  
  
  header a:hover {
	background-color: #ddd;
	color: black;
  }
  
  
  header a.active {
	background-color: #236338;
	color: white;
	flex-grow: 6;
  }
#pleague{
	background-image: url("../table/table.images/pleague.jpg") ;
	background-size: cover ;
	padding: 10px;
	margin: 0;
	
    
}
#laliga{
	background-image: url("../table/table.images/laliga.jpg") ;
	background-size: cover ;
	padding: 10px;
	margin: 0;
    
}
#seriea{
	background-image: url("../table/table.images/seriea.jpg") ;
	background-size: cover ;
	padding: 10px;
	margin: 0;
    
}
#bundesliga{
	background-image: url("../table/table.images/bundesliga.jpg") ;
	background-size: cover ;
	padding: 10px;
	margin: 0;
    
}
#lig1{
	background-image: url("../table/table.images/lig1.jpg") ;
	background-size: cover ;
	padding: 10px;
	margin: 0;
    
}

.ptable table{
	margin: 30px auto;
	border-collapse: collapse;
	bottom: 0; 
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.8);
  color: #f1f1f1;
	
}

.ptable{
	margin: 0px 0% 0 0%;
	
}

th, td {
	padding: 6px 8px 6px 8px;
	border-bottom: 1px solid #FFFFFF;
	text-align: center;
	color:white;
}


th{
	
 
  background: rgba(0, 0, 0, 0.8);
  color: #f1f1f1;
}

.headin{
	text-align: center;
    text-decoration: none;
	background: rgb(0, 0, 0); 
	background: rgba(0, 0, 0, 0.8);
	color: #f1f1f1;
	margin: 50px 400px 30px 400px;
	display: block;
	border-radius: 20px;
	padding: 8px;
}

.wpos:hover{
	background-color: rgb(144, 241, 124);
}

.wpos:hover td{
	color:black;
}

.pos:hover{
	background-color: white;
}

.pos:hover td{
	color: black;
}
